version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: blog-postgres
    restart: always
    ports:
      - "5432:5432" # cá»•ng host:container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
